@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

$roboto: "roboto";

$size1500: 1500px;
$size1000: 1000px;
$size800: 800px;
$size500: 500px;

.home {
  .content-1-1-section {
    background-color: #7c904a;
    display: flex;
    flex-direction: row;
    width: 100%;
    @media (max-width: $size1000) {
      height: 300px;
    }
    @media (max-width: $size500) {
      display: flex;
      flex-direction: column;
      height: auto;
      padding: 0 0 2% 0;
    }
    .photo-1-1 {
      max-width: 54.8%;
      @media (max-width: $size1000) {
        max-width: 50%;
      }
      @media (max-width: $size500) {
        max-width: 100%;
      }
    }
    .content-1-1 {
      color: white;
      font-family: $roboto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto auto;
      h1 {
        font-size: 2em;
        align-self: center;
        @media (max-width: $size1000) {
          font-size: 1.8em;
        }
        @media (max-width: $size800) {
          font-size: 1.6em;
        }
      }
      h5 {
        font-size: 1.4em;
        margin: 5% auto;
        @media (max-width: $size1000) {
          font-size: 1.2em;
          margin: 0% 0 4% 0;
        }
        @media (max-width: $size800) {
          font-size: 1.1em;
        }
      }
      .divider {
        margin: -5% 0 0 0;
      }
      p {
        font-size: 1.2em;
        font-weight: 500;
        margin: 2% 0 0 0;
        width: 70%;
        margin: 5% auto;
        text-align: center;
        @media (max-width: $size1000) {
          font-size: 1em;
          margin: 1% 0 2% 0;
        }
      }
      a:link {
        text-decoration: none;
      }
    }
  }
  .gray-divider {
    width: 100%;
    height: 80px;
    background-color: #706e6e;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $size1000) {
      font-size: 1em;
      height: 50px;
    }
  }
}
.content-1-2-section {
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  @media (max-width: $size1000) {
    padding: 0 0 2% 0;
  }
  a:link {
    text-decoration: none;
  }
  .content-1-2-left-section {
    max-width: 55%;
    @media (max-width: $size1000) {
      max-width: 100%;
      text-align: center;
    }

    .content-1-2-left-photos {
      display: flex;
      flex-direction: row;
      .left-photos {
        @media (max-width: $size1500) {
          max-width: 50%;
        }
        @media (max-width: $size1000) {
          max-width: 50%;
        }
      }
      .blue-library {
        @media (max-width: $size1000) {
          max-width: 50%;
        }
        @media (max-width: $size800) {
          max-width: 50%;
        }
        @media (max-width: $size500) {
          display: none;
        }
      }
    }
    .content-1-2-left-text {
      font-family: $roboto;
      display: flex;
      flex-direction: column;
      align-content: center;
      max-width: 90%;
      padding: 3% 0 0 3%;
      @media (max-width: $size1000) {
        max-width: 100%;
        padding: 2%;
      }
      .title {
        font-size: 2em;
        text-align: left;
        @media (max-width: $size1000) {
          text-align: center;
        }
      }
      .paragraph {
        font-size: 1em;
        line-height: 2;
        margin: 0 0 2% 0;
      }
    }
  }
  .content-1-2-right-section {
    img {
      max-width: 100%;
    }
    .bed-photo {
      @media (max-width: $size1000) {
        display: none;
      }
    }
  }
}
.yellow-block {
  background-color: #f9f6de;
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5% 0 5% 0;
  margin: -0.1% 0 0 0;
  z-index: 10;

  .title {
    font-family: $roboto;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 0.5% 0;
  }
  .subtitle {
    width: 400px;
    text-align: center;
    font-family: $roboto;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 1.5% 0;
  }
  .paragraph {
    font-style: $roboto;
    font-weight: 225;
    font-size: 18px;
    width: 45%;
    text-align: center;
    line-height: 1.5em;
    @media (max-width: $size1000) {
      width: 90%;
    }
  }
}
