@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

$roboto: "roboto";

.home {
  .content-1-1-section {
    background-color: #7c904a;
    display: flex;
    flex-direction: row;
    .page-1-1 {
      width: 54.8%;
    }
    .content-1-1 {
      color: white;
      font-family: $roboto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto auto;
      h1 {
        font-size: 36px;
      }
      h5 {
        font-size: 18px;
        margin: 5% auto;
      }
      .divider {
        margin: -5% 0 0 0;
      }
      p {
        font-size: 20px;
        font-weight: 500;
        margin: 2% 0 0 0;
        width: 70%;
        margin: 5% auto;
        text-align: center;
      }
      a:link {
        text-decoration: none;
      }
    }
  }
  .gray-divider {
    width: 100%;
    height: 80px;
    background-color: #706e6e;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.content-1-2-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 632px;
  a:link {
    text-decoration: none;
  }
  .content-1-2-left-photos {
    display: flex;
    flex-direction: row;
  }
  .content-1-2-left-text {
    font-family: $roboto;
    display: flex;
    flex-direction: column;
    margin: 5% 0 0 0;
    .title {
      font-size: 36px;
      margin: 0 auto 1% 6%;
      text-align: left;
    }
    .paragraph {
      font-size: 18px;
      font-weight: 600;
      line-height: 2;
      margin: 0 auto 5% 6%;
      width: 90%;
    }
  }
  .content-1-2-right-section {
    width: 50%;
  }
}
.yellow-block {
  background-color: #f9f6de;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5% 0 5% 0;
  .title {
    font-family: $roboto;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 0.5% 0;
  }
  .subtitle {
    font-family: $roboto;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 1.5% 0;
  }
  .paragraph {
    font-style: $roboto;
    font-weight: 225;
    font-size: 18px;
    width: 45%;
    text-align: center;
    line-height: 1.5em;
  }
}
