@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

$roboto: "roboto";

$size1500: 1500px;
$size1000: 1000px;
$size800: 800px;
$size500: 500px;

.it-top-section {
  display: flex;
  flex-direction: row;
  @media (max-width: $size1000) {
    max-width: 1000px;
  }
  @media (max-width: $size500) {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .top-green-box {
    max-width: 55%;
    background-color: #7c904a;
    color: white;
    font-family: $roboto;
    @media (max-width: $size1500) {
      width: 80%;
    }
    @media (max-width: $size800) {
      width: 100%;
    }
    .green-box-title {
      padding: 2.5% 2% 0 2%;
      font-size: 2em;
      @media (max-width: $size800) {
        font-size: 1.5em;
      }
    }
    .green-box-text {
      padding: 0 2% 0 2%;
      font-size: 1.2em;
      font-weight: 600;
      line-height: 1.8em;
      @media (max-width: $size1500) {
        font-size: 1.15em;
      }
      @media (max-width: $size800) {
        font-size: .88em;
      }
    }
  }
  .kitchen {
    @media (max-width: $size1000) {
      display: none;
    }
    @media (max-width: $size800) {
      display: none;
    }
  }
}
.it-main-text {
  width: 50%;
  font-family: $roboto;
  margin: 4% auto;
  text-align: left !important;
  @media (max-width: $size500) {
    width: 75%;
  }
  .it-main-title {
    text-align: center;
  }
  .it-paragraph {
    line-height: 30px;
    font-size: 1.15em;
  }
  ul {
    line-height: 2em;
    font-weight: bolder;
  }
  .final-paragraph {
    margin: 0 0 8% 0;
  }
  a:link {
    text-decoration: none;
  }
}
