@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

$size1000: 1000px;
$size800: 800px;
$size425: 425px;


.top-bar {
  background-color: #706e6e;
  max-width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 1% 8% 0 8%;
  @media (max-width: $size1000) {
    max-width: 1000px;
  }
  @media (max-width: $size800) {
    max-width: 800px;
  }
  @media (max-width: $size425) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1% 0 8% 0;
  }
  .search-box {
    background-color: #ffffff;
    width: 15%;
    height: 30px;
    color: #999999;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 0 0 0.4%;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    @media (max-width: $size1000) {
      width: 25%;
      padding: 0 0 0 1%;
    }
    @media (max-width: $size425) {
      // width: 100%;
      // margin: 1% 0 1% 0
      display: none;
    }
  }
  .locations {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    @media (max-width) {
      height: 50%;
      margin: 0 0 10% 0;
    }
  }
}
