@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.top-bar {
  background-color: #706e6e;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .search-box {
    background-color: #ffffff;
    width: 280px;
    height: 30px;
    color: #999999;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 0 0 0.4%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin: .45% 50% 0 0;
    .fa-search {
      width: 100px;
      height: 100px;
    }
  }
  .locations {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: .60% 0 0 0;
  }
}
