@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.top-bar {
  background-color: #706e6e;
  max-width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 1% 8% 0 8%;
  .search-box {
    background-color: #ffffff;
    width: 15%;
    height: 30px;
    color: #999999;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 0 0 0.4%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
  }
  .locations {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
}
